---
# Only the main Sass file needs front matter
---

@charset "utf-8";

// 1. Define variables FIRST to override defaults
$doc-font-size: 14px; // The default is usually 16px. Lowering this scales everything down.

// 2. Then import the skin and main styles
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";
